<h1>後台</h1>
<a href='/admin/tweets'>Tweets</a> |
<a href='/admin/users'>Users</a>
<br />
<br />
{{!-- <a href='/admin/restaurants/create'>
	<button type="button" class="btn btn-primary">New Restaurant</button>
</a> --}}

<br />
<br />

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Author</th>
			<th scope="col">Description</th>
			<th scope="col">#</th>
		</tr>
	</thead>
	<tbody>
		{{#each tweets}}
		<tr>
			<th scope="row">{{this.id}}</th>
			<td>{{this.User.name}}</td>
			<td>{{this.description}}</td>
			<td>
				<button type="button" class="btn btn-link">
					<a href="/tweets/{{this.id}}/replies" class ="text-info">
						Show Reply({{this.Replies.length}})
					</a>
				</button>
				{{!-- <button type="button" class="btn btn-link">
					<a href="/admin/restaurants/{{this.id}}/edit">
						Edit
					</a>
				</button> --}}
				<form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
					<button type="submit" class="btn btn-link">Delete</button>
				</form>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
