<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Role</th>
			<th scope="col">Info</th>
		</tr>
	</thead>
	<tbody>
		{{#each users}}
		<tr>
			<td scope="row">{{this.id}}</td>
			<td >{{this.name}}</td>
			{{#ifCond this.role 'admin' }}
			<td>Admin <span><a href="/admin/setUser/{{this.id}}" style="color: blue;margin-right: 10px;">set as User</a></span></td>
			{{else}}
			<td>User <a href="/admin/setUser/{{this.id}}" style="color: blue;margin-right: 10px;">set as Admin</a></span></td>
			{{/ifCond}}
			<td><ul class="list-unstyled list-inline">
				<li><a href="#" class=" text-info text-reset">Tweets(<strong>{{this.Tweets.length}}</strong>)</a></li>
				<li>Following <strong class="text-monospace text-secondary">{{this.Followings.length}}</strong></li>
				<li>Follower <strong class="text-monospace text-secondary">{{this.Followers.length}}</strong></li>
				<li><a href="#" class=" text-danger text-reset">Like(<strong>{{this.LikedTweets.length}}</strong>)</a></li>
			</ul></td>
		</tr>
		{{/each}}
	</tbody>
</table>
