<div class="row">
  <div class="container col-7">
	  <form action="/tweets" method="POST">
		  <div class="form-group ">
			  <textarea class="form-control" id="text" name="text" rows="3" placeholder="在想什麼?"></textarea>
			  <button type="submit" class="btn btn-primary float-right mt-2">Tweet</button>
		  </div>
	  </form>
    <br>
		<br>
	  <div class="card">
		  <div class="card-header">
			  最新推文
		  </div>
		  <div class="card-body container row">
			 {{!-- {{#each user.Tweets}} 要取user.Tweets.length不能使用each疊代--}}
			  <img class="img-fluid rounded img-responsive col-3 p-3" src="{{user.avatar}}">
			  <div class="container col-8">
				  <h4>
					  <a href="/users/{{user.id}}">{{user.name}}</a>
					  <small>{{moment user.Tweets.createdAt}}</small>
				  </h4>
					<p>{{user.Tweets.description}}</p>
					<ul class="list-unstyled list-inline">
						<li><a href="#" class=" text-info text-reset">Reply(<strong>{{user.Replies.length}}</strong>)</a></li>
						<li><a href="#" class=" text-danger text-reset">Like(<strong>{{user.LikedTweet.length}}</strong>)</a></li>
					</ul>
			  </div>

	      <hr>
			 {{!-- {{/each}} --}}
		  </div>

	  </div>
	</div>
  <br /><br />

			<div class="card col-5">
				<div class="card-header">
					熱門推文
				</div>
				<div class="card-body container row">
					{{#each user.Tweets}}
					<div class="col-3">
						<img class="img-fluid rounded img-responsive" src="{{../user.avatar}}">
					</div>

					<div class="container col-8">
						<h4>
							<a href="/users/{{../user.id}}">{{../user.name}}</a>
							<small>{{moment this.createdAt}}</small>
						</h4>
						<p>{{this.description}}</p>
						<div class="container text-right">
							{{#if this.isFollowed }}
							<form action="/favorite/{{../user.id}}?_method=DELETE" method="POST"><button type="submit"
									class="btn btn-danger">UnFollowed</button></form>
							{{else}}
							<form action="/favorite/{{../user.id}}" method="POST"><button type="submit" class="btn btn-primary">Follow</button></form>
							{{/if}}
						</div>
					</div>
					</hr>

					{{/each}}
				</div>
			</div>
			</div>
{{!-- <nav aria-label="Page navigation example">
	<ul class="pagination">
		<li class="page-item">
			<a class="page-link" href="/restaurants?page={{prev}}&categoryId={{categoryId}}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{{#each totalPage}}
		{{#ifCond this ../page}}
		<li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
		{{else}}
		<li class="page-item"><a class="page-link"
				href="/restaurants?page={{this}}&categoryId={{../categoryId}}">{{this}}</a></li>
		{{/ifCond}}
		{{/each}}
		<a class="page-link" href="/restaurants?page={{next}}&categoryId={{categoryId}}" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		</a>
		</li>
	</ul>
</nav> --}}
