<div class="row">
	<div class="container col-7">
		<form action="/tweets" method="POST">
			<div class="form-group ">
				<textarea class="form-control" id="text" name="text" rows="3" placeholder="在想什麼?"></textarea>
				<input type="hidden" name="UserId" value="{{user.id}}" />
				<button type="submit" class="btn btn-primary float-right mt-2">Tweet</button>
			</div>
		</form>
		<br>
		<br>
		<div class="card">
			<div class="card-header">
				最新推文
			</div>
			<div class="card-body container row">
				{{#each localUser.Tweets}}
				<img class="img-fluid rounded img-responsive col-3 p-3" src="{{../user.avatar}}">
				<div class="container col-8">
					<h4 class="">
						<a href="/users/{{../user.id}}">{{../user.name}}</a>
						<small>{{moment this.createdAt}}</small>
					</h4>
					<p class="text-justify font-weight-light">{{this.description}}</p>

					<ul class="list-unstyled list-inline">
						<li><a href="/tweets/{{this.id}}/replies" class=" text-info text-reset">Reply(<strong>{{this.Replies.length}}</strong>)</a></li>
						<li><a href="/tweets/{{this.id}}/like" class=" text-danger text-reset">Like(<strong>{{this.LikedUsers.length}}</strong>)</a></li>

					</ul>
				</div>
				<hr>
				{{/each}}
			</div>

		</div>
	</div>
	<br /><br />

<div class="container card col-5 ">
	<div class="card-header">
		Popular
	</div>
		{{#each users}}
	<div class="card-body container row h-auto">

		<div class="col-3">
			<img class="img-fluid rounded img-responsive" src="{{this.avatar}}">
		</div>

		<div class="container col-8">
			<h4>
				<a href="/users/{{this.id}}">{{this.name}}</a>
				<small>{{moment this.Tweets.createdAt}}</small>
			</h4>
			<p class="text-justify font-weight-light">{{this.introduction}}</p>
			<div class="container text-right">
				{{#if this.isFollowed }}
				<form action="/users/{{this.id}}/following/?_method=DELETE" method="POST"><button type="submit"
					class="btn btn-danger">UnFollowed</button></form>
				{{else}}
				<form action="/users/{{this.id}}/following" method="POST"><button type="submit" class="btn btn-primary">Follow</button>
				</form>
				{{/if}}
			</div>
		</div>
		</hr>


	</div>
	{{/each}}

</div>

