<div class="row">
	<div class="container col-7">
		<form action="/tweets" method="POST">
			<div class="form-group ">
				<textarea class="form-control" id="description" name="description" rows="3" placeholder="在想什麼?"></textarea>
				<input type="hidden" name="UserId" value="{{user.id}}" />
				<button type="submit" class="btn btn-primary float-right mt-2">Tweet</button>
			</div>
		</form>
		<br>
		<br>
		<div class="card">
			<div class="card-header">
				最新推文
			</div>
			<div class="card-body container row">
				{{#each tweets}}
				<img class="img-fluid rounded img-responsive col-3 p-3" src="{{this.User.avatar}}">
				<div class="container col-8">
					<h4 class="">
						<a href="/users/{{this.User.id}}/tweets">{{this.User.name}}</a>
						<small>{{moment this.createdAt}}</small>
					</h4>
					<p class="text-justify font-weight-light">{{this.description}}</p>

					<ul class="list-unstyled list-inline row">
						<li><a href="/tweets/{{this.id}}/replies" class=" text-info text-reset">Reply(<strong>{{this.Replies.length}}</strong>)</a></li>

						<li>
							{{#if this.isLiked }}
							<form action="/tweets/{{this.id}}/unlike/?_method=DELETE" method="POST" class="ml-3 "><button type="submit"
									class="btn btn-outline-danger btn-sm">Like({{this.LikedUsers.length}})</button></form>
							{{else}}
							<form action="/tweets/{{this.id}}/like" method="POST" class="ml-2"><button type="submit"
									class="btn btn-outline-info btn-sm">Like <strong>{{this.LikedUsers.length}}</strong></button>
							</form>
							{{/if}}
						</li>



					</ul>
				</div>
				<hr>
				{{/each}}
			</div>

		</div>
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="/tweets?page={{prev}}" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					{{#each totalPage}}
					{{#ifCond this ../page}}
					<li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
					{{else}}
					<li class="page-item"><a class="page-link"
							href="/tweets?page={{this}}">{{this}}</a></li>
					{{/ifCond}}
					{{/each}}
					<a class="page-link" href="/tweets?page={{next}}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
					</li>
				</ul>
			</nav>
	</div>
	<br /><br />

<div class="container card col-5" style="height: auto">
	<div class="card-header">
		Popular
	</div>
		{{#each users}}
	<div class="card-body container row h-auto">

		<div class="col-3">
			<img class="img-fluid rounded img-responsive" src="{{this.avatar}}">
		</div>

		<div class="container col-8">
			<h4>
				<a href="/users/{{this.id}}/tweets">{{this.name}}</a>
				<small>{{moment this.Tweets.createdAt}}</small>
			</h4>
			<p class="text-justify font-weight-light">{{this.introduction}}</p>
			<div class="container text-right">
			{{#ifNotEquals this.id ../localUser.id }}
			  {{#if isFollowed }}
			<form action="/followships/{{this.id}}?_method=DELETE" method="POST"><button type="submit"
					class="btn btn-danger">UnFollowed</button></form>
			  {{else}}
			<form action="/followships" method="POST">
			<input type="number" name="id" value="{{this.id}}" class="d-none">
			<button type="submit"class="btn btn-primary">Follow</button>
			</form>
			  {{/if}}
			{{else}}
			  <form action="/users/{{../localUser.id}}/edit/?_method=PUT" method="POST"><button type="submit" class="btn btn-info">Edit
					</button></form>
			<hr>
			 {{/ifNotEquals}}
			</div>
		</div>
		</hr>


	</div>
	{{/each}}


</div>


